# Pipeline stages
stages:
  - test_swagger

variables:
  SERVICE_NAME:
    value: ""
    description: "service name to test. only provided service test will run"

build-test_swagger:
  stage: test_swagger
  image: $PRIVATE_IMAGE_REGISTRY/maven:3.9.6-eclipse-temurin-21
  tags:
    - k8s-amd64
  script:
    - echo `date` ' - swagger client test run'
    - mvn clean test -s ${CI_PROJECT_DIR}/settings.xml -DserviceName=${SERVICE_NAME} -DauthApiKey=${API_KEY} -DauthApiSecret=${API_SECRET}
    - if [ $? -eq 0 ]
    - then
    - echo "Build Swagger Client Test Success"
    - exit 0
    - else
    - echo "Build Swagger Client Test Failure"
    - exit 1
    - fi
  artifacts:
    name: "SwaggerClientTestOutput"
    when: always
    expire_in: 2 yrs
    paths:
      - "./target/surefire-reports/*.*"
    reports:
      dotenv: ${TF_ROOT}/test.env
      junit:
        - ./target/surefire-reports/TEST-*.xml
